@import "tailwindcss";
@import "tw-animate-css";
@tailwind utilities;

@custom-variant dark (&:is(.dark *));
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";


@theme {
  --color-light: #E2DCCA; 
  --color-dark: #023146; 
  --background-image-header: url('/Component 1.png');
  --background-image-about: url('/about.png');
  --font-montserrat: var(--font-montserrat), ui-sans-serif, system-ui;
}

html {
  scroll-behavior: smooth;
}
